@charset "UTF-8";

#section_1 {
	width: 100%;
	border-bottom: solid 1px lightgray;
}

#section_1 #s_item1 p {
	text-align: right;
	margin: 40px 35% 40px 0;
}

#section_2 {
	width: 100%;
	/*border-bottom: solid 1px lightgray;*/
}

#section_2 #s_item2 {
	text-align: center;
	margin: 150px 0;
}

#section_3 {
	width: 100%;
	height: 3000px;
	background-color: #DFDEE8;
}