@charset "UTF-8";

#section {
	width: 100%;
	background-color: #e9ebeb;
	height: 2000px;
}

#main_section {
	width: 1550px;
	margin: 0 auto;
	border: solid 1px black;
	background-color: #e9ebeb;
	height: 1500px;
}

#item1 {
	width: 230px;
	height: 400px;
	border: solid 1px black;
	margin: 50px 120px 30px 155px;
	float: left;
}

#item1 #item1_img {
	width: 230px;
	height: 250px;
	border: solid 1px black;
}